*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.MenuHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__home__content {
  display: flex;
  width: 100%;
}
.menu__home__content__left {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 270px;
  padding: 2em 0;
  border-radius: 29.411px;
  background: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__left__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: end;
  text-align: left;
  width: 100%;
  height: 90vh;
  padding: 2em;
}
.menu__home__content__left__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 0.5em 0;
  font-family: "Poppins", sans-serif;
  height: 40px;
}
.menu__home__content__left__link:hover {
  color: #000;
  font-weight: bold;
}
.menu__home__content__right {
  display: flex;
  flex: 1;
  // justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(360deg, #68747c 0%, #cae5f9 50.57%);
}
.menu__home__content__right__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em;
}
.menu__home__content__right__content__top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.menu__home__content__right__content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__home__content__right__content__top__logo {
  width: 60%;
}
.menu__home__content__right__content__top__logo img {
  width: 180px;
}
.menu__home__content__right__content__top__search {
  background-color: #fff;
  box-shadow: 12px 8px 25.7px -14px rgba(0, 0, 0, 0.15);
  border-radius: 29.411px;
  width: 60%;
}
.menu__home__content__right__content__top__search__input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5em;
}
.menu__home__content__right__content__top__search__input input {
  border: none;
  outline: none;
  padding: 0.5em;
  width: 100%;
  border-radius: 29.411px;
}
.menu__home__content__right__content__top__cart {
  display: flex;
  border-radius: 21.5px;
  padding: 0.3em 1em;
  width: 110px;
  justify-content: space-between;
  background: #fff;
  margin: 0em 0.5em;
  box-shadow: 12px 8px 25.7px -14px rgba(0, 0, 0, 0.15);
}
.menu__home__content__right__content__top__cart__count {
  font: 12px;
}
.menu__home__content__right__content__top__darklightmood {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.5em;
  border-radius: 50px;
  box-shadow: 12px 8px 25.7px -14px rgba(0, 0, 0, 0.15);
}
.menu__home__content__right__content__bottom {
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;

  width: 100%;
  padding: 0em 2em;
}
.menu__home__content__right__content__bottom__content {
  height: 75vh;
  overflow: auto;
}
.menu__home__content__right__content__bottom__content::-webkit-scrollbar {
  width: 0.5em;
}
.menu__home__content__right__content__bottom__content__items__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 220px;
  padding: 1em;
  border-radius: 29.411px;
  background: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__right__content__bottom__content__items__card__name {
  font-size: 18px;
  font-weight: bold;
}
.menu__home__content__right__content__bottom__content__items__card__weight {
  font-size: 14px;
  margin: 0.5em 0;
  color: #68747c;
}
.menu__home__content__right__content__bottom__content__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  // margin-bottom: em;
}
.menu__home__content__right__content__bottom__content__items__card {
  margin-bottom: 2em;
}
.menu__home__content__right__content__bottom__content__items__card__price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
}
.menu__home__content__right__content__bottom__content__items__card__button {
  width: 150px;
  padding: 0.5em;
  border-radius: 29.411px;
  background: #fff8f4;
  margin-bottom: -2em;
  border: 2px solid #fb7d37;
  color: #fb7d37;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__right__content__bottom__content__items__card__button__active {
  width: 150px;
  padding: 0.5em;
  border-radius: 29.411px;
  background: #fb7d37;
  margin-bottom: -2em;
  border: 2px solid #fb7d37;
  color: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
