html {
  --background: radial-gradient(
    circle at bottom left,
    #cae5f9 0%,
    #ffffff 100%
  );
}
html[data-theme="dark"] {
  --background: radial-gradient(
    circle at bottom left,
    #1a1a1a 0%,
    #000000 100%
  );
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--background);
}
.menu__home__content {
  display: flex;
  width: 100%;
  height: 100vh;
}
.menu__home__content__left {
  width: 240px;
  padding: 2em 0;
  padding-top: 8em;
  border-radius: 29.411px;
  background: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__left__links {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0 2em;
}
.menu__home__content__left__link {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  padding: 0.5em 0;
  font-family: "Poppins", sans-serif;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu__home__content__left__link:hover {
  color: #000;
  font-weight: bold;
}
.menu__home__content__left__link.active {
  color: #fb7d37;
  font-weight: bold;
}
.menu__home__content__right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.menu__home__content__right__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 2em;
}
.menu__home__content__right__content__top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.menu__home__content__right__content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__home__content__right__content__top__logo {
  width: 60%;
}
.menu__home__content__right__content__top__logo img {
  width: 180px;
}
.menu__home__content__right__content__top__search {
  background-color: #fff;
  box-shadow: 12px 8px 25.7px -15px rgba(0, 0, 0, 0.15);
  border-radius: 29.411px;
  width: 60%;
}
.menu__home__content__right__content__top__search__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}
.menu__home__content__right__content__top__search__input input {
  border: none;
  outline: none;
  padding: 0.5em;
  width: 100%;
  border-radius: 29.411px;
}
.menu__home__content__right__content__top__cart {
  display: flex;
  border-radius: 21.5px;
  padding: 0.3em 1em;
  width: 110px;
  justify-content: space-between;
  background: #fff;
  margin: 0 0.5em;
  box-shadow: 12px 8px 25.7px -15px rgba(0, 0, 0, 0.15);
}
.menu__home__content__right__content__top__cart__count {
  font: 12px;
}
.menu__home__content__right__content__top__darklightmood {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.5em;
  border-radius: 50px;
  box-shadow: 12px 8px 25.7px -15px rgba(0, 0, 0, 0.15);
}
.menu__home__content__right__content__bottom__wrapper {
  width: 100%;
  height: calc(100% - 130px);
  position: relative;
}
.menu__home__content__right__content__bottom {
  width: 100%;
  height: 100%;
  padding: 0 2em;
  overflow-y: auto;
  gap: 1em;
}
.menu__home__content__right__content__bottom__wrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.menu__home__content__right__content__bottom__content {
  display: flex;
  flex-direction: column;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__button {
  color: transparent;
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  border-color: transparent;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__ratingimg {
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  width: 100px;
  height: 20px;
  margin-bottom: 1em;
  border-radius: 29.411px;
  color: transparent;
  margin-top: 1em;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__foodimg {
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__foodimg
  img,
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__ratingimg
  img {
  display: none;
}
.menu__home__content__right__content__bottom__content__items__card__foodimg
  img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
.menu__home__content__right__content__bottom__content::-webkit-scrollbar {
  width: 0.5em;
}
.menu__home__content__right__content__bottom__content__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.menu__home__content__right__content__bottom__content__items__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: calc(25% - 1.5em);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 29.411px;
  background: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__name,
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__weight,
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__price {
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  width: 80%;
  height: 20px;
  margin-bottom: 1em;
  border-radius: 29.411px;
  color: transparent;
}
.menu__home__content__right__content__bottom__content__items__card__name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.menu__home__content__right__content__bottom__content__items__card__weight {
  font-size: 15px;
  margin: 0.3em 0;
  color: #68747c;
}
.menu__home__content__right__content__bottom__content__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}
.menu__home__content__right__content__bottom__content__items__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  text-align: center;
}
.menu__home__content__right__content__bottom__content__items__card__price {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1em;
}
.menu__home__content__right__content__bottom__content__items__card__button {
  width: 150px;
  padding: 0.5em;
  border-radius: 29.411px;
  background: #fff8f4;
  margin-bottom: -2em;
  border: 2px solid #fb7d37;
  color: #fb7d37;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.menu__home__content__right__content__bottom__content__items__card__button__active {
  background: #fb7d37;
  border: 2px solid #fb7d37;
  color: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1300px) {
  .menu__home__content__right__content__bottom__content__items__card {
    width: calc(33% - 1.5em);
  }
}
@media (max-width: 1200px) {
  .menu__home__content__left {
    width: 160px;
  }
}
@media (max-width: 1100px) {
  .menu__home__content__right__content__bottom__content__items__card {
    width: calc(50% - 1.5em);
  }
}
@media (max-width: 900px) {
  .menu__home__content__right__content__bottom__content__items__card {
    width: 100%;
  }
}
