html {
  --background: radial-gradient(
    circle at bottom left,
    #cae5f9 0%,
    #ffffff 100%
  );
  --primary: #fb7d37;
  --backgroundcolor: #fff;
  --textcolor: #000;
  --buttonbackground: #fff;
  --buttonborder: #fb7d37;
  --buttonback: #fb7d37;
  --cartbackground: #edf8f8;
  --cartbackgroundbutton: #fff5ef;
  --cardbackgroundcolor: #09101f;
}
html[data-theme="dark"] {
  --background: radial-gradient(
    circle at bottom left,
    #0a1325 0%,
    #0a1325 100%
  );
  --primary: #fb7d37;
  --backgroundcolor: #09101f;
  --textcolor: #fff;
  --buttonbackground: #3a241e;
  --buttonback: #3a241e;
  --buttonborder: #fb7d37;
  --cartbackground: #0f1621;
  --cartbackgroundbutton: #1b212d;
  --cardbackgroundcolor: #ffff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--background);
  overflow: hidden;
  top: 0px !important;
}
.skiptranslate {
  display: none;
}
.roundedButton {
  border-radius: 3em;
  border: 1px solid #fb7d37;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    position: relative;
    z-index: 1;
    transition: color 0.8s;
  }
  &:hover {
    p {
      color: white;
    }
  }
}
.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}
.rtl .menu__home__content {
  direction: rtl;
}
.menu__home__content {
  display: flex;
  width: 100%;
  height: 100vh;
}
.menu__home__content__left {
  width: 240px;
  padding: 2em 0;
  padding-top: 8em;
  border-radius: 29.411px;
  background: var(--backgroundcolor);
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__left__links {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 0 2em;
}
.menu__home__content__right__mobilebar__links {
  display: none;
  width: calc(100vw - 1em);
}
.menu__home__content__left__link {
  text-decoration: none;
  color: var(--textcolor);
  font-size: 15px;
  padding: 0.5em 0;
  font-family: "Poppins", sans-serif;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu__home__content__right__mobilebar__links {
  text-decoration: none;
  color: var(--textcolor);
  padding: 0.5em 0;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  gap: 1em;
}
.menu__home__content__right__mobilebar__link:first-child {
  margin-left: 2.5em;
}
.menu__home__content__right__mobilebar__link {
  text-decoration: none;
  color: var(--textcolor);
  font-size: 14px;
  padding: 0.5em 0;
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: var(--buttonborder);
  border: 1px solid var(--buttonborder);
  border-radius: 10px;
  max-width: 200px;
  padding: 0.2em 1em;
  color: #fff;
}
.menu__home__content__right__mobilebar__link:hover {
  color: var(--textcolor);
  background-color: var(--buttonborder);
  background: var(--backgroundcolor);
}
.menu__home__content__left__link:hover {
  color: var(--textcolor);
  font-weight: bold;
}
.menu__home__content__left__link.active {
  color: #fb7d37;
  font-weight: bold;
}
.menu__home__content__right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.menu__home__content__right__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 2em;
}
.menu__home__content__right__content__top__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.menu__home__content__right__content__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__home__content__right__content__top__logo {
  width: 60%;
}
.menu__home__content__right__content__top__logo img {
  width: 180px;
}
.menu__home__content__right__content__top__search {
  background-color: #fff;
  box-shadow: 12px 8px 25.7px -15px rgba(0, 0, 0, 0.15);
  border-radius: 29.411px;
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__home__content__right__content__top__search__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}
.menu__home__content__right__content__top__search__input input {
  border: none;
  outline: none;
  padding: 0 0 0 1em;
  width: 100%;
  border-radius: 29.411px;
  font-size: 14px;
}
.menu__home__content__right__content__top__cart {
  display: flex;
  border-radius: 21.5px;
  padding: 0.3em 1em;
  width: 110px;
  justify-content: space-between;
  background: #fff3ed;
  height: 40px;
  align-items: center;
  margin: 0 0.5em;
  box-shadow: 12px 8px 25.7px -15px rgba(0, 0, 0, 0.15);
}
.menu__home__content__right__content__top__cart:hover {
  background: #fff;
  cursor: pointer;
}
.menu__home__content__right__content__top__cart__count {
  font: 12px;
}
.menu__home__content__right__content__top__darklightmood {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0.5em;
  border-radius: 50px;
  border: none;
  box-shadow: -4px 1px 25.7px 13px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.menu__home__content__right__content__bottom__wrapper {
  width: 100%;
  height: calc(100% - 130px);
  position: relative;
}
.menu__home__content__right__content__bottom {
  width: 100%;
  height: 100%;
  padding: 0 2em;
  overflow-y: auto;
  gap: 1em;
}
.menu__home__content__right__content__bottom::-webkit-scrollbar {
  width: 6px;
}
.menu__home__content__right__content__bottom::-webkit-scrollbar-track {
  background-color: #fb7d37;
}
.menu__home__content__right__content__bottom::-webkit-scrollbar-thumb {
  background-color: var(--backgroundcolor);
  border-radius: 6px;
}
.menu__home__content__right__content__bottom__wrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}
.menu__home__content__right__content__bottom__content {
  display: flex;
  flex-direction: column;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__button {
  color: transparent;
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  border-color: transparent;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__ratingimg {
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  width: 100px;
  height: 20px;
  margin-bottom: 1em;
  border-radius: 29.411px;
  color: transparent;
  margin-top: 1em;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__foodimg {
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__foodimg
  img,
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__ratingimg
  img {
  display: none;
}
.menu__home__content__right__content__bottom__content__items__card__foodimg
  img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
.menu__home__content__right__content__bottom__content::-webkit-scrollbar {
  width: 0.5em;
}
.menu__home__content__right__content__bottom__content__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: var(--textcolor);
}
.menu__home__content__right__content__bottom__content__items__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: calc(25% - 1.5em);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 29.411px;
  background: var(--backgroundcolor);
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__right__content__bottom__content__items__card:hover {
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.2);
  background-color: var(--cardbackgroundcolor);
  color: var(--textcolor);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu__home__content__right__content__bottom__content__items__card:hover
  .menu__home__content__right__content__bottom__content__items__card__name {
  color: var(--backgroundcolor);
}
.menu__home__content__right__content__bottom__content__items__card:hover
  .menu__home__content__right__content__bottom__content__items__card__price {
  color: var(--backgroundcolor);
}
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__name,
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__weight,
.menu__home__content__right__content__bottom__content__items__card__empty
  .menu__home__content__right__content__bottom__content__items__card__price {
  background: linear-gradient(to right, #fff8f4, #fff4ed, #fff8f4);
  width: 80%;
  height: 20px;
  margin-bottom: 1em;
  border-radius: 29.411px;
  color: transparent;
}
.menu__home__content__right__content__bottom__content__items__card__name {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--textcolor);
}
.menu__home__content__right__content__bottom__content__items__card__weight {
  font-size: 15px;
  margin: 0.3em 0;
  color: #68747c;
}
.menu__home__content__right__content__bottom__content__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}
.menu__home__content__right__content__bottom__content__items__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  text-align: center;
}
.menu__home__content__right__content__bottom__content__items__card__price {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 1em;
  color: var(--textcolor);
}
.menu__home__content__right__content__bottom__content__items__card__button {
  width: 150px;
  padding: 0.5em;
  border-radius: 29.411px;
  background: #fff8f4;
  margin-bottom: -2em;
  border: 2px solid var(--buttonborder);
  background-color: var(--buttonbackground);
  color: #fb7d37;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.menu__home__content__right__content__bottom__content__items__card__button__active {
  background: #fb7d37;
  border: 2px solid #fb7d37;
  color: #fff;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.rtl .menu__home__content__popup {
  direction: rtl;
}
.menu__home__content__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 35, 80, 0.1);
  z-index: 999;
}
.rtl .menu__home__content__popup__content {
  right: auto;
  left: 0px;
  border-radius: 0px 20px 20px 0px;
}
.menu__home__content__popup__content {
  width: 450px;
  height: 100%;
  background: var(--backgroundcolor);
  border-radius: 29px 0 0 29px;
  padding: 2em;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 14.066px 25.575px 67.133px -14.066px rgba(0, 0, 0, 0.08);
}
.menu__home__content__popup__content.is__open {
  transform: translateX(0) scale(1);
  animation: slideIn 0.5s ease-in-out;
  transform-origin: right;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%) scale(0.8);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
.menu__home__content__popup__content.is__closed {
  transform: translateX(100%);
  animation: slideOut 0.3s ease-in-out;
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.rtl .menu__home__content__popup__content__slider {
  direction: ltr;
}
.menu__home__content__popup__content__slider {
  width: 100%;
  margin-bottom: 1em;
}
.swiper-slide {
  opacity: 0.4;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.swiper-slide-active {
  opacity: 1;
}
.menu__home__content__popup__content__slider img {
  width: 80%;
  border-radius: 100px;
}
.menu__home__content__popup__content__slider__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.menu__home__content__popup__content__slider__img {
  margin-bottom: 1em;
  width: 150px;
}
.menu__home__content__popup__content__slider__star {
  height: 25px;
  margin-bottom: 0.5em;
}
.menu__home__content__popup__content__slider__heading {
  font-size: 20px;
  font-weight: bold;
  color: var(--textcolor);
}
.menu__home__content__popup__content__slider__weight {
  font-size: 15px;
  margin-bottom: 0.5em;
  color: #68747c;
}
.menu__home__content__popup__content__slider__info {
  font-size: 14px;
  text-align: center;
  color: var(--textcolor);
  margin-bottom: 1em;
}
.menu__home__content__popup__content__buttons {
  display: flex;
}
.menu__home__content__popup__content__buttons__content {
  background-color: var(--cartbackgroundbutton);
  padding: 1em;
  border-radius: 6px;
  width: calc(100% - 0.5em);
}
.menu__home__content__popup__content__buttons__content:first-child {
  margin-right: 0.5em;
}
.menu__home__content__popup__content__buttons__buttons {
  display: flex;
}
.menu__home__content__popup__content__buttons__name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: var(--textcolor);
}
.menu__home__content__popup__content__buttons__buttons__button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 11px;
  color: var(--textcolor);
  border-radius: 5px;
  height: 20px;
  margin: 0.2em;
}
.menu__home__content__popup__content__buttons__buttons__button__active {
  background: #00a1a1;
  color: #fff;
}
.menu__home__content__popup__content__qauntity {
  display: flex;
}
.menu__home__content__popup__content__qauntity__button {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3em;
  border: 1px solid #68747c;
  cursor: pointer;
}
.menu__home__content__popup__content__qauntity__button:hover {
  background: #00a1a1;
  color: #fff;
}
.menu__home__content__popup__content__qauntity__number {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  width: 40px;
}
.menu__home__content__popup__content__qauntity__and__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 1.5em);
  padding: 1em;
  background: var(--cartbackground);
  border-radius: 6px;
  margin: 1em 0;
  width: 100%;
}
.menu__home__content__popup__content__qauntity__and__price__price__name {
  font-size: 16px;
  color: var(--textcolor);
}
.menu__home__content__popup__content__qauntity__and__price__price__number {
  color: var(--textcolor);
  color: #00a1a1;
  font-weight: bold;
  font-size: 20px;
}
.menu__home__content__popup__content__buttons__addtocart__button__color {
  color: var(--textcolor);
  font-size: 16px;
  height: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 9;
}
.menu__home__content__popup__content__buttons__addtocart__button {
  border: 1px solid var(--buttonborder);
  background: var(--buttonback);
  cursor: pointer;
  font-size: 11px;
  color: #fff;
  border-radius: 29px;
  height: 40px;
  font-size: 14px;
  width: 100%;
  margin: 0.2em;
}
.menu__home__content__popup__content__buttons__addtocart__button:hover {
  background: #00a1a1;
  border: 1px solid #00a1a1;
}
.English__to__Arabic__content {
  position: absolute;
}
.English__to__Arabic__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(207deg, #ff4001 16.9%, #343434 117.14%);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  bottom: 50px;
  right: 40px;
  margin-left: 1em;
  position: fixed;
  z-index: 99;
}
.English__to__Arabic__button::after {
  content: "AR";
  font-size: 12px;
  font-weight: 700;
}
.English__to__Arabic__button__active::after {
  content: "EN";
  font-size: 12px;
  font-weight: 700;
}
.English__to__Arabic__button__active {
  background: linear-gradient(207deg, #3a2118 16.9%, #343434 117.14%);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  bottom: 50px;
  right: 40px;
  margin-left: 1em;
  position: fixed;
  z-index: 99;
}
@media (max-width: 1300px) {
  .menu__home__content__right__content__bottom__content__items__card {
    width: calc(33% - 1.5em);
  }
}
@media (max-width: 1200px) {
  .menu__home__content__left {
    width: 160px;
  }
}
@media (max-width: 1100px) {
  .menu__home__content__right__content__bottom__content__items__card {
    width: calc(50% - 1.5em);
  }
}
@media (max-width: 900px) {
  .menu__home__content__right__content__bottom__content__items__card {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .menu__home__content__left {
    display: none;
  }
  .menu__home__content__right__mobilebar__links {
    display: flex;
  }
  .menu__home__content__right__content__top {
    flex-direction: column;
  }
  .menu__home__content__right__content__top__content {
    width: 90%;
  }
  .menu__home__content__right__content__top__logo {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  .menu__home__content__right__content__bottom::-webkit-scrollbar {
    width: 0;
  }
  .menu__home__content__right__content__bottom::-webkit-scrollbar-track {
    background-color: #fb7d37;
  }
  .menu__home__content__right__content__bottom::-webkit-scrollbar-thumb {
    background-color: var(--backgroundcolor);
    border-radius: 6px;
  }
  .menu__home__content {
    height: 96vh;
  }
  .menu__home__content__right__content__top__search__input input {
    width: 100%;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu__home__content__right__content {
    padding: 1em 1em;
  }
  .menu__home__content__popup__content {
    width: 100%;
  }
}
.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.6s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
